html
  head
    title= title 
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    ul 
        li(class="user")
          a(href=`/person/${user.id}`)
            img(src=`${user.photo}` alt=`${user.name}`)
          h3 #{user.name}
          p #{user.username}
          p #{user.bio}
